@import './style/header.css';
@import './style/aside.css';
@import './style/main.css';
@import './style/footer.css';

html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	min-height: 100vh;
	display: grid;
	grid-template-areas:
		' header header header header '
		' aside main main main ';
	grid-template-rows: 56px 1fr;
	grid-template-columns: 64px 1fr;
}
