.header {
	grid-area: header;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	padding: 0 16px;
	width: 100%;
	position: fixed;
	box-sizing: border-box;
	background-color: #fff;
}

.svg-icon {
	height: 24px;
	width: 24px;
}

.header-btn {
	display: grid;
	justify-items: center;
	padding: 8px;
	cursor: pointer;
	border-radius: 100%;
	max-width: fit-content;
}
.header-btn:hover {
	background-color: #0000001a;
}

.header-start,
.header-end {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}
.header-start {
	max-width: fit-content;
}

.header-start > a {
	display: flex;
}
.yt-logo {
	height: 20px;
	padding: 18px 14px 18px 16px;
}

@media screen and (max-width: 900px) {
	div.search-bar {
		width: 20vw;
		margin: 0;
	}
	div.header-end {
		width: unset;
		justify-content: end;
		gap: 8px;
	}
}
@media screen and (max-width: 530px) {
	div.header-center {
		display: none;
	}
	div.header-end {
		width: unset;
		justify-content: end;
		gap: 8px;
	}
}

.header-center {
	display: flex;
	min-width: fit-content;
	width: 100%;
	max-width: 728px;
	justify-content: center;
	align-items: center;
}

.search-bar {
	box-sizing: border-box;
	width: 40vw;
	max-width: 540px;
	height: 40px;
	padding: 0 4px 0 16px;
	margin-left: 72px;
	border: 1px solid #ccc;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	display: grid;
	grid-auto-flow: column;
}

.search {
	border: none;
}
.search::placeholder {
	font-size: 1rem;
}
.search:focus {
	outline: none;
}

.header-center > button {
	height: 40px;
	width: 64px;
	padding: 1px 6px;
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	border-left: none;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
}

.header-end {
	width: 225px;
	justify-content: end;
	gap: 8px;
}

.avatar-btn {
	box-sizing: border-box;
	border-radius: 100%;
	background-color: #ede2e2;
	padding: 1px 6px;
	cursor: pointer;
}
.avatar {
	height: 28px;
	width: 28px;
	border-radius: 100%;
}
