.main {
	grid-area: main;
}

.content {
	padding: 20px 40px;
	height: fit-content;
	display: grid;
	overflow: auto;
	gap: 10px;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.content iframe {
	height: 100%;
	width: 100%;
}
