.main {
	grid-area: main;
}

.content {
	padding: 20px 20px;
	height: fit-content;
	display: grid;
	overflow: auto;
	gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.video {
	display: grid;
	gap: 12px;
	margin-bottom: 30px;
}
.video > img {
	max-height: 100%;
	max-width: 100%;
}

.description {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}
.info {
	display: grid;
}
.title {
	font-size: 0.875rem;
	font-weight: bold;
	margin-bottom: 5px;
}
.channel,
.stats {
	font-weight: 100;
	font-size: 0.75rem;
}
